* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

/*--- NAVIGATION SECTION --- */
body {
  font-family: Catamaran;
}

.round {
  width: 60px;
  height: 60px;
}

.height {
  min-height: 80vh;
}

.height-80 {
  min-width: 100vh;
}

.container h1 {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#header {
  background-image: url(img/background1.jpeg);
  background-position: center;
  background-size: cover;
}

/*--- ABOUT SECTION --- */

.about {
  background-image: url(img/bg_1.jpg);
  background-position: center;
  background-size: cover;
}
.about {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.about:after {
  content: "";
  display: block;
  clear: both;
}

.about h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: Catamaran;
  font-size: 30px;
  position: relative;
  margin-bottom: 30px;
}

.about h2:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: #85af4b;
}

.about p {
  color: white;
  font-family: Catamaran;
  font-size: 20px;
}

.about h3 {
  color: #85af4b;
  font-family: Catamaran;
  font-size: 25px;
}

.about .column-left,
.about .column-right {
  width: 50%;
  float: left;
}

.about .column-left {
  padding-left: 5%;
  padding-right: 5%;
}

.about .column-left img {
  max-width: 100%;
}

/*--- MENU SECTION --- */

#menu {
  background-image: url(img/bg_4.jpg);
  background-position: center;
  background-size: cover;
}

#menu h2 {
  font-family: Catamaran;
}

#menu h2:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: #85af4b;
}

#menu p {
  color: white;
  font-family: Catamaran;
  font-size: 20px;
}

#menu h4 {
  color: white;
  font-family: Catamaran;
}

/*--- ORDER SECTION --- */

#order h2 {
  font-family: Catamaran;
}

#order h2:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: #85af4b;
}

/*--- CONTACT SECTION --- */

#contact h2 {
  font-family: Catamaran;
}

#contact h2:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: #85af4b;
}

#contactForm input {
  background: transparent;
  margin: 10px 5px;
}

#contactForm textarea {
  margin-top: 10px;
  width: 100%;
  background: transparent;
}

#contact {
  background-image: url(img/bg_4.jpg);
  background-position: center;
  background-size: cover;
}

.footer-text p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Catamaran;
  color: white;
  font-size: 15px;
}
